/* General */
$overlay-bg: #ffffff;

/* overlay: bg color */
$overlay-text: #666666; /* overlay: text color */

/* Dashboard */
$column-bg: #FFFFFF;
$column-placeholder: #f0f0f0;
$column-placeholder-border: #000;
$column-placeholder-hover: #CCC;

