/* General */
$overlay-bg: #ffffff;
/* overlay: bg color */
$overlay-text: #666666; /* overlay: text color */
/* Dashboard */
$column-bg: #FFFFFF;
$column-placeholder: #f0f0f0;
$column-placeholder-border: #000;
$column-placeholder-hover: #CCC;

/* Advanced Layout Dialog */

$spacingBetweenColumns: 2px;

$rowLayoutDialog-hover-color: #CCC; /* column layout: border color */
$rowLayoutDialog-column-bg: #999; /* column layout: bg color */
$rowLayoutDialog-column-text: #FFF; /* column layout: text color */
$rowLayoutDialog-column-title-bg: #FFF; /* column title: background */
$rowLayoutDialog-column-title-text: #000; /* column title: text color */
$rowLayoutDialog-column-title-border: #888; /* column title: border color */
$rowLayoutDialog-column-border: #808080;
$rowLayoutDialog-placeholder-color: #eacece;


