@page
@model Add_Widgets.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<vc:tuxbar model="Model.Dashboard"></vc:tuxbar>

<vc:tuxboardtemplate model="Model.Dashboard"></vc:tuxboardtemplate>

<!-- Simple Layout -->
<div class="modal fade" id="layout-dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Layout</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="h-100 justify-content-center text-center">
                    <i class="fas fa-spinner fa-spin fa-2x"></i>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary save-layout">Save Layout</button>
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Advanced Layout -->
<div class="modal fade" id="advanced-layout-dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Advanced Layout</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="h-100 justify-content-center text-center">
                    <i class="fas fa-spinner fa-spin fa-2x"></i>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <div class="col">
                    <span class="error-container" hidden>
                        <small class="error-message d-inline-flex mb-0 px-2 py-1 fw-semibold text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-2"></small>
                    </span>
                </div>
                <div class="col text-end">
                    <button type="button" class="btn btn-sm btn-primary save-advanced-layout">Save Layout</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
