@model Tuxboard.Core.Domain.Entities.WidgetPlacement
﻿
@if (Model.UseTemplate)
{
    <!-- Widgets -->
    <div class="card mb-3" data-id="Model.WidgetPlacementId">

        <div class="card-header">
            @Model.GetSettingOrDefault("widgettitle")
        </div>

        <div class="card-body">
            @await Component.InvokeAsync(Model.Widget.Name, Model)
        </div>

    </div>
}
else
{
    @await Component.InvokeAsync(Model.Widget.Name, Model)
}
